@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&family=Rajdhani:wght@500;600&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--color1);
  overflow: hidden;
  font-family: Overpass;
}
i {
  cursor: pointer;
}
:root {
  --color1: #313552;
  --color2: #b8405e;
  --color3: #2eb086;
  --color4: #eee6ce;
}
.todoContainer {
  width: 90%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.input-box {
  width: 585px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-box > p {
  font-family: Overpass;
  color: #eee6ce;
  font-size: 30px;
  font-weight: bold;
}
.input {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input input {
  font-family: Overpass;
  padding: 7px 10px;
  width: 100%;
  outline: none;
  height: 30px;
  border: none;
  border-radius: 10px;
  transition: 0.1s all ease;
}
.input input:focus {
  outline: 3px solid #b8405e;
  box-shadow: 0px 0px 20px #b8405e;
}
.input i {
  position: absolute;
  right: 0;
  margin: 15px;
  color: #313552;
}
.iconSection {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.iconSection button {
  border: 2px solid #b8405e;
  margin: 5px;
  border-radius: 10px;
  padding: 7px 10px;
  color: #eee6ce;
  cursor: pointer;
  background-color: #313552;
  transition: 0.3s all;
}
.iconSection > button.material-symbols-outlined:hover {
  background-color: #b8405e;
}
.todosNote {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
  
}
.todosNote ul {
  list-style: none;
  background-color: #b8405e;
  width: 70%;
  padding: 15px 10px;
}
.todosNote ul > span {
  color: #eee6ce;
  text-align: center;
  font-family: Overpass;
}
.todosNote > ul > li {
  color: #eee6ce;
  display: inline;
  float: right;
}
.todosNote i {
  margin: 7px;
}
